// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 100%;
  min-width: 320px;
  // min-height: 1000px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url(US_Flag_cropped.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
}

.top-nav-bar {
  margin-top: 0;
  min-height: 55px;
  background-color: #004C79;
  padding: 20px;
}

.home-link {
  display: block;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  margin: auto;
  color: white;
  font-size: 40px;
  font-weight: 700;
  vertical-align: middle;
  font-family: 'Cinzel Decorative', cursive;
}

.container {
  width: 700px;
  margin: auto;
}

.about-page {
  .about-us-section {
    max-width: 800px;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
    background-color: #E8F4FA;
    margin-top: 5em;
    border: 3px solid black;
    border-radius: 10px;
    .about-nick {
      vertical-align: top;
      border-right: 1px solid black;
    }
    .column {
      width: 319.5px;
      padding: 0px 40px 0px 40px;
      margin-bottom: 40px;
      display: inline-block;
      min-height: 260px;
      margin-left: auto;
      img {
        padding: 0px 15px 0px 15px;
        width: 10%;
      }
    }
    h2 {
      margin-left: 40%;
      font-size: 40px;
    }
  }
}

.footer {
  p {
    color: white;
    font-size: 0.8em;
    text-align: center;
    a {
      color: white;
    }
  }
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 2em;
  min-height: 55px;
  background-color: #004C79;
}

.mission-component {
  background-color: rgba(232, 244, 250, 0.85);
}

.mission-statement {
  text-align: center;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px;
}

.mission-quote {
  background-color: #004C79;
  padding: 30px;
}

.quote {
  font-family: 'Bilbo Swash Caps', cursive;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  color: white;
}
